# {{ ansible_managed }}
homeserver:
    address: http://localhost:8009
    domain: {{ matrix_domain }}

appservice:
    address: http://localhost:29319
    hostname: localhost
    database: postgres://{{ psql_dbs['mautrix-facebook']['user'] }}:{{ psql_dbs['mautrix-facebook']['password']|urlencode() }}@localhost/mautrix-facebook
    public:
        enabled: true
        prefix: /facebook
        external: {{ matrix_external_url }}/facebook
        shared_secret: null
    bot_displayname: Facebook {{ matrix_bridge_name_suffix }}
    community_id: +facebook:{{ matrix_domain }}
    ephemeral_events: true

# FIXME do metrics
metrics:
    enabled: false
    listen_port: 8000

bridge:
    community_template: facebook_{localpart}={server}
    displayname_template: "{displayname}"

    sync_with_custom_puppets: false
    sync_direct_chat_list: true

    double_puppet_server_map:
        {{ matrix_domain }}: {{ matrix_external_url }}
    double_puppet_allow_discovery: true
# FIXME Support other_homeservers
    login_shared_secret_map:
        {{ matrix_domain }}: "{{ synapse_shared_secret_auth }}"

    encryption:
        allow: true

    delivery_receipts: true

    backfill:
        invite_own_puppet: true
        initial_limit: 1000

    periodic_reconnect:
        interval: 86400
    temporary_disconnect_notices: false
    refresh_on_reconnection_fail: true

    permissions:
        {{ matrix_domain }}: user
{% if matrix_bridge_other_homeservers is defined %}
{% for item in matrix_bridge_other_homeservers %}
        {{ item }}: user
{% endfor %}
{% endif %}
{% if matrix_bridge_admins is defined %}
{% for item in matrix_bridge_admins %}
        '{{ item }}': admin
{% endfor %}
{% endif %}

logging:
    version: 1
    formatters:
        colored:
            (): mautrix_facebook.util.ColorFormatter
            format: "[%(asctime)s] [%(levelname)s@%(name)s] %(message)s"
        normal:
            format: "[%(asctime)s] [%(levelname)s@%(name)s] %(message)s"
    handlers:
        file:
            class: logging.handlers.RotatingFileHandler
            formatter: normal
            filename: ./mautrix-facebook.log
            maxBytes: 10485760
            backupCount: 10
        console:
            class: logging.StreamHandler
            formatter: colored
    loggers:
        mau:
            level: INFO
        fbchat:
            level: INFO
        paho:
            level: INFO
        aiohttp:
            level: INFO
    root:
        level: INFO
        handlers: [file, console]
