#jinja2:variable_start_string:'[%', variable_end_string:'%]'
# [% ansible_managed %]

homeserver:
    address: http://localhost:8009
    domain: [% matrix_domain %]

appservice:
    address: http://localhost:29318
    hostname: localhost
    port: 29318

    database:
        type: postgres
        uri: postgres://[% psql_dbs['mautrix-whatsapp']['user'] %]:[% psql_dbs['mautrix-whatsapp']['password']|urlencode() %]@localhost/mautrix-whatsapp
        max_open_conns: 20
        max_idle_conns: 2

    provisioning:
        prefix: /_matrix/provision/v1
        shared_secret: disable

    id: whatsapp

    bot:
        username: whatsappbot
        displayname: WhatsApp [% matrix_bridge_name_suffix %]
        avatar: mxc://maunium.net/NeXNQarUbrlYBiPCpprYsRqr

whatsapp:
    os_name: [% mautrix_whatsapp_web_name %]
    browser_name: [% mautrix_whatsapp_web_shortname %]

metrics:
    enabled: false
    listen: 127.0.0.1:8001

bridge:
    username_template: whatsapp_{{.}}
    displayname_template: "{{if .Notify}}{{.Notify}}{{else}}{{.Jid}}{{end}}"
    community_template: whatsapp_{{.Localpart}}={{.Server}}

    connection_timeout: 30
    fetch_message_on_timeout: true
    delivery_receipts: true

    login_qr_regen_count: 2

    max_connection_attempts: 3
    connection_retry_delay: -1
    report_connection_retry: false
    chat_list_wait: 30
    portal_sync_wait: 600

    call_notices:
        start: true
        end: true

    initial_chat_sync_count: 20
    initial_history_fill_count: 200
    initial_history_disable_notifications: false
    recovery_chat_sync_limit: -1
    recovery_history_backfill: true
    sync_max_chat_age: 604800

    sync_with_custom_puppets: true
    sync_direct_chat_list: true
    default_bridge_receipts: true
    default_bridge_presence: true

    # Shared secret for https://github.com/devture/matrix-synapse-shared-secret-auth
    # If set, custom puppets will be enabled automatically for local users
    # instead of users having to find an access token and run `login-matrix`
    # manually.
    login_shared_secret: [% synapse_shared_secret_auth %]

    invite_own_puppet_for_backfilling: true
    private_chat_portal_meta: false

    whatsapp_thumbnail: false

    allow_user_invite: true

    command_prefix: "!wa"

    encryption:
        allow: true
        default: false

    permissions:
        "*": relaybot
        "[% matrix_domain %]": user
{% if matrix_bridge_other_homeservers is defined %}
{% for item in matrix_bridge_other_homeservers %}
        "[% item %]": user
{% endfor %}
{% endif %}
{% if matrix_bridge_admins is defined %}
{% for item in matrix_bridge_admins %}
        "[% item %]": admin
{% endfor %}
{% endif %}

    relaybot:
        enabled: true
        management: '[% mautrix_whatsapp_admin_room %]'
        message_formats:
            m.text: "<b>{{ .Sender.Displayname }}</b>: {{ .Message }}"
            m.notice: "<b>{{ .Sender.Displayname }}</b>: {{ .Message }}"
            m.emote: "* <b>{{ .Sender.Displayname }}</b> {{ .Message }}"
            m.file: "<b>{{ .Sender.Displayname }}</b> sent a file"
            m.image: "<b>{{ .Sender.Displayname }}</b> sent an image"
            m.audio: "<b>{{ .Sender.Displayname }}</b> sent an audio file"
            m.video: "<b>{{ .Sender.Displayname }}</b> sent a video"
            m.location: "<b>{{ .Sender.Displayname }}</b> sent a location"

logging:
    directory: ./logs
    file_name_format: "{{.Date}}-{{.Index}}.log"
    file_date_format: 2006-01-02
    file_mode: 0600
    timestamp_format: Jan _2, 2006 15:04:05
    print_level: info
