# {{ ansible_managed }}
homeserver:
    address: http://localhost:8009
    domain: {{ matrix_domain }}

appservice:
    address: http://localhost:29328
    hostname: localhost
    database: postgres://{{ psql_dbs['mautrix-signal']['user'] }}:{{ psql_dbs['mautrix-signal']['password']|urlencode() }}@localhost/mautrix-signal

    public:
        enabled: true
        prefix: /telegram
        external: {{ matrix_external_url }}/telegram

    bot_displayname: Signal {{ matrix_bridge_name_suffix }}

    community_id: "+signal:{{ matrix_domain }}"

    ephemeral_events: true

# FIXME Prometheus telemetry config. Requires prometheus-client to be installed.
metrics:
    enabled: false
    listen_port: 8000

signal:
    avatar_dir: /var/lib/signald/data
    data_dir: /var/lib/signald/data

bridge:
    displayname_template: "{displayname}"
    displayname_preference:
    - full_name
    - phone

    sync_with_custom_puppets: false
    sync_direct_chat_list: true
    
    double_puppet_server_map:
        {{ matrix_domain }}: {{ matrix_external_url }}
    double_puppet_allow_discovery: true
# FIXME Support other_homeservers
    login_shared_secret_map:
        {{ matrix_domain }}: "{{ synapse_shared_secret_auth }}"

    encryption:
        allow: true
        default: true

    delivery_receipts: true
    delivery_error_reports: true

    permissions:
        {{ matrix_domain }}: user
{% if matrix_bridge_other_homeservers is defined %}
{% for item in matrix_bridge_other_homeservers %}
        {{ item }}: user
{% endfor %}
{% endif %}
{% if matrix_bridge_admins is defined %}
{% for item in matrix_bridge_admins %}
        '{{ item }}': admin
{% endfor %}
{% endif %}

logging:
    version: 1
    formatters:
        colored:
            (): mautrix_signal.util.ColorFormatter
            format: "[%(asctime)s] [%(levelname)s@%(name)s] %(message)s"
        normal:
            format: "[%(asctime)s] [%(levelname)s@%(name)s] %(message)s"
    handlers:
        file:
            class: logging.handlers.RotatingFileHandler
            formatter: normal
            filename: ./mautrix-signal.log
            maxBytes: 10485760
            backupCount: 10
        console:
            class: logging.StreamHandler
            formatter: colored
    loggers:
        mau:
            level: INFO
        aiohttp:
            level: INFO
    root:
        level: INFO
        handlers: [file, console]
