# {{ ansible_managed }}
homeserver:
    address: http://localhost:8009
    domain: {{ matrix_domain }}

appservice:
    address: http://localhost:29317
    hostname: localhost
    database: postgres://{{ psql_dbs['mautrix-telegram']['user'] }}:{{ psql_dbs['mautrix-telegram']['password']|urlencode() }}@localhost/mautrix-telegram

    public:
        enabled: true
        prefix: /telegram
        external: {{ matrix_external_url }}/telegram

    provisioning:
        enabled: false
        shared_secret: null

    bot_displayname: Telegram {{ matrix_bridge_name_suffix }}

    community_id: "+telegram:{{ matrix_domain }}"

    ephemeral_events: true

# FIXME Prometheus telemetry config. Requires prometheus-client to be installed.
metrics:
    enabled: false
    listen_port: 8000

bridge:
    displayname_template: '{displayname}'

    sync_with_custom_puppets: false
    sync_direct_chat_list: true
    
    double_puppet_server_map:
        {{ matrix_domain }}: {{ matrix_external_url }}
    double_puppet_allow_discovery: true
# FIXME Support other_homeservers
    login_shared_secret_map:
        {{ matrix_domain }}: "{{ synapse_shared_secret_auth }}"

    invite_link_resolve: true
    max_document_size: {{ synapse_max_upload_size_mb }}

    encryption:
        allow: true

    delivery_receipts: true
    delivery_error_reports: true

    bridge_notices:
        default: true

    state_event_formats:
        join: ''
        leave: ''

    permissions:
        '*': relaybot
        {{ matrix_domain }}: full
{% if matrix_bridge_other_homeservers is defined %}
{% for item in matrix_bridge_other_homeservers %}
        {{ item }}: full
{% endfor %}
{% endif %}
{% if matrix_bridge_admins is defined %}
{% for item in matrix_bridge_admins %}
        '{{ item }}': admin
{% endfor %}
{% endif %}

telegram:
    api_id: {{ matrix_telegram_api_id }}
    api_hash: {{ matrix_telegram_api_hash }}
    bot_token: {{ matrix_telegram_bot_token }}

logging:
    version: 1
    formatters:
        precise:
            format: '[%(asctime)s] [%(levelname)s@%(name)s] %(message)s'
    handlers:
        file:
            class: logging.handlers.RotatingFileHandler
            formatter: precise
            filename: ./mautrix-telegram.log
            maxBytes: 10485760
            backupCount: 10
        console:
            class: logging.StreamHandler
            formatter: precise
    loggers:
        mau:
            level: INFO
        telethon:
            level: INFO
        aiohttp:
            level: INFO
    root:
        level: INFO
        handlers: [file, console]
