# {{ ansible_managed }}
bridge:
  port: 8434
  bindAddress: localhost

  domain: {{ matrix_domain }}
  homeserverUrl: http://localhost:8009

  mediaUrl: {{ matrix_external_url }}

# FIXME Support other_homeservers
  loginSharedSecretMap:
    {{ matrix_domain }}: "{{ synapse_shared_secret_auth }}"

  displayname: Discord {{ matrix_bridge_name_suffix }}
  avatarUrl: {{ discord_avatar_url }}

  enableGroupSync: true

presence:
  enabled: {{ synapse_presence }}
  interval: 500

provisioning:
  whitelist:
    - "@.*:{{ matrix_domain | replace(".", "\\\\.") }}"
{% if matrix_bridge_other_homeservers is defined %}
{% for item in matrix_bridge_other_homeservers %}
    - "@.*:{{ item | replace(".", "\\\\.") }}"
{% endfor %}
{% endif %}

  #blacklist:

relay:
  whitelist:
    - ".*"

  #blacklist:

selfService:
  whitelist:
    - "@.*:server\\.com"

  #blacklist:
    #- "@user:server\\.com"

# Map of homeserver URLs to their C-S API endpoint
#
# Useful for double-puppeting if .well-known is unavailable for some reason
#homeserverUrlMap:
  #yourserver.com: http://localhost:1234

namePatterns:
  user: :name
  userOverride: :displayname
  room: :name
  group: :name

database:
  connString: "postgres://{{ psql_dbs['mx-puppet-discord']['user'] }}:{{ psql_dbs['mx-puppet-discord']['password']|urlencode() }}@localhost/mx-puppet-discord"


limits:
  maxAutojoinUsers: 2000
  roomUserAutojoinDelay: 500

logging:
  # silly, verbose, info, warn, error
  console: info
  lineDateFormat: MMM-D HH:mm:ss.SSS

  files:
    - file: "bridge.log"
      level: warn
      datePattern: YYYY-MM-DD
      maxFiles: 30d
      maxSize: 50m
