# {{ ansible_managed }}
bridge:
  port: 8432
  bindAddress: localhost

  domain: {{ matrix_domain }}
  homeserverUrl: http://localhost:8009

# FIXME Support other_homeservers
  loginSharedSecretMap: 
    {{ matrix_domain }}: "{{ synapse_shared_secret_auth }}" 

  displayname: Slack {{ matrix_bridge_name_suffix }}
  avatarUrl: {{ slack_avatar_url }}

  enableGroupSync: true

# Slack OAuth settings. Create a slack app at https://api.slack.com/apps
oauth:
  enabled: true
  # Slack app credentials.
  # N.B. This must be quoted so YAML wouldn't parse it as a float.
  clientId: "{{ matrix_slack_oauth_client_id }}"
  clientSecret: {{ matrix_slack_oauth_client_secret }}
  redirectPath: /slack/oauth
  redirectUri: {{ matrix_external_url }}/slack/oauth

presence:
  enabled: true
  interval: 500

provisioning:
  whitelist:
    - "@.*:{{ matrix_domain | replace(".", "\\\\.") }}"
{% if matrix_bridge_other_homeservers is defined %}
{% for item in matrix_bridge_other_homeservers %}
    - "@.*:{{ item | replace(".", "\\\\.") }}"
{% endfor %}
{% endif %}

  #blacklist:

  # Shared secret for the provisioning API for use by integration managers.
  # If this is not set, the provisioning API will not be enabled.
  #sharedSecret: random string
  # Path prefix for the provisioning API. /v1 will be appended to the prefix automatically.
  apiPrefix: /_matrix/provision

relay:
  whitelist:
    - ".*"

  #blacklist:

database:
  connString: "postgres://{{ psql_dbs['mx-puppet-slack']['user'] }}:{{ psql_dbs['mx-puppet-slack']['password']|urlencode() }}@localhost/mx-puppet-slack"

logging:
  # silly, verbose, info, warn, error
  console: info
  lineDateFormat: MMM-D HH:mm:ss.SSS
  files:
    - file: "bridge.log"
      level: info
      datePattern: YYYY-MM-DD
      maxFiles: 14d
      maxSize: 50m
